# Remove torch/torchvision/torchaudio
# torch==2.5.1+cu121
# torchvision==0.20.1+cu121
# torchaudio==2.5.1+cu121

transformers==4.57.1
accelerate==1.11.0
tokenizers==0.22.1
safetensors==0.6.2
fairseq==0.12.2
hydra-core==1.0.7
omegaconf<2.1
fastapi==0.119.1
uvicorn==0.38.0
pydantic==2.12.3
pydantic_core==2.41.4
numpy==2.3.3
regex==2025.10.23
tqdm==4.67.1
requests==2.32.5
python-dotenv==1.1.1
langdetect==1.0.9
networkx==3.5
sympy==1.13.1
filelock==3.19.1
fsspec==2025.9.0
