services:
  dsp-server:
    image: dsp-server:latest
    container_name: dsp-server
    ports:
      - 4000:4000
    env_file:
      - .env
    restart: always

  dsp-dashboard:
    image: dsp-dashboard:latest
    container_name: dsp-dashboard
    ports:
      - 5173:5173
    env_file:
      - .env
    restart: always

  mongodb:
    container_name: mongodb
    image: mongodb/mongodb-atlas-local
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=${MONGODB_INITDB_ROOT_USERNAME}
      - MONGODB_INITDB_ROOT_PASSWORD=${MONGODB_INITDB_ROOT_PASSWORD}
      - RUNNER_LOG_FILE=/dev/stderr
    ports:
      - 27017:27017
    restart: always