services:
  dsp-server:
    depends_on:
      mongodb:
        condition: service_healthy
    image: dsp-server:latest
    container_name: dsp-server
    ports:
      - 4000:4000
    volumes:
      - ./local/utils/secure_keys:/app/utils/secure_keys
    env_file:
      - .env
    restart: unless-stopped
  dsp-dashboard:
    depends_on:
      dsp-server:
        condition: service_healthy
    image: dsp-dashboard:latest
    container_name: dsp-dashboard
    ports:
      - 5173:5173
    env_file:
      - .env
    restart: unless-stopped
  dsp-model:
    image: dsp-model:12.1.0-base-ubi8
    container_name: dsp-model
    ports:
      - 8000:8000
    restart: unless-stopped
  mongodb:
    image: mongodb/mongodb-atlas-local
    container_name: dsp-database-mongodb
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=${MONGODB_INITDB_ROOT_USERNAME}
      - MONGODB_INITDB_ROOT_PASSWORD=${MONGODB_INITDB_ROOT_PASSWORD}
      - RUNNER_LOG_FILE=/dev/stderr
    ports:
      - 27017:27017
    restart: unless-stopped